# Ignore virtual environments
venv/

# Ignore Python bytecode files
*.pyc
*.pyo

# Ignore environment variable files
.env

# Ignore system files
.DS_Store

# Ignore IDE-specific files (e.g., for VSCode)
.vscode/

# Ignore Jupyter Notebooks checkpoints
.ipynb_checkpoints/
